{% extends "base.html" %} {% set active_page = "sentiment" %} {% block title %}
Public Media {% endblock %} {% block head %}
<!-- CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/publicmedia.css') }}"
/>

<!-- D3 interpolate path plugin -->
<script
  src="https://unpkg.com/d3-interpolate-path/build/d3-interpolate-path.min.js"
  defer
></script>

<!-- Number of COVID-19 Articles per day script -->
<script
  src="{{ url_for('static', filename='js/publicmedia/num-articles-per-day.js')}}"
  type="module"
  defer
></script>

<!-- News domains on subjectivity ranges script -->
<script
  src="{{ url_for('static', filename='js/publicmedia/news-domains-on-average-subjectivity-ranges.js')}}"
  type="module"
  defer
></script>
{% endblock %} {% block body %}
<div class="content">
  <div class="article">
    <h1 class="article-heading">Public Media</h1>
    <p class="article-subheading">
      Displays patterns and analysis of public opinion during the COVID-19
      pandemic
    </p>
    <div class="toggle-view-btns">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-warning"
          id="toggle-daily-view"
          disabled
        >
          Daily
        </button>
        <button
          type="button"
          class="btn btn-warning"
          id="toggle-weekly-view"
          disabled
        >
          Weekly
        </button>
        <button
          type="button"
          class="btn btn-warning"
          id="toggle-monthly-view"
          disabled
        >
          Monthly
        </button>
      </div>
    </div>
    <div id="line-chart"></div>
    <p>
      This line chart shows the amount of COVID-19 articles written over time.
    </p>
    <div id="bar-chart"></div>
    <p>
      This bar chart shows the subjectivity ratings of COVID-19-related news
      outlets (or domains). The subjectivity values range from 0.0 to 1.0,
      inclusive, where 0.0 is most objective and 1.0 is most subjective.
    </p>
  </div>
</div>

{% endblock %}
