{% extends "base.html" %} {% set active_page = "sentiment" %} {% block title %}
Trump Tweets {% endblock %} {% block head %}
<!-- CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/trumptweets.css') }}"
/>

<!-- Trump tweets on polarity ranges script -->
<script
  src="{{ url_for('static', filename='js/trumptweets/trump-tweets-on-polarity-range.js')}}"
  type="module"
  defer
></script>
{% endblock %} {% block body %}

<div class="content">
  <div class="article">
    <h1 class="article-heading">Trump Tweets</h1>
    <p class="article-subheading">
      Sentiment analysis on tweets from Donald Trump, the president of the
      United States
    </p>
    <h3 class="article-subtitle">
      Sentiment polarity values of Trump's tweets during COVID-19
    </h3>
    <div id="scatterplot"></div>
    <p>
      * Note: the polarity values on the y-axis range from -1.0 to 1.0,
      inclusive, where -1.0 is most negative and 1.0 is most positive. The range
      of the x-axis is the time between January 1, 2020 and April 15, 2020.
    </p>
  </div>
</div>

{% endblock %}
