<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        {% block body %}
        {% endblock %}
        <script src="https://unpkg.com/topojson-client@3"></script>
        <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
        {% block script %}
        {% endblock %}
    </body>

</html>