{% extends "base.html" %}

{% set active_page = "dashboard" %}

{% block title %} Dashboard {% endblock %}

{% block body %}

<div class="content">
	<p>Welcome to coviD3.js, a website run by TwoFortyNine. We specialize in telling stories through beautiful and engaging data visualizations. With coviD3.js, we plan on analyzing the ways the coronavirus pandemic affects society outside of the hospital. For our first week, we plan on publishing two articles on changes in media sentiment and transportation.</p>

	<div class="article">
		<h1 class="article-heading">COVID-19</h1>
		<p class="article-subheading">Data visualization of COVID-19 in the United States of America</p>
	</div>
</div>

{% endblock %}