{% extends "base.html" %}

{% block title %} Numbers {% endblock %}

{% block body %}

<div class="navbar">
	<div class="navbar-top">
		<h1><span class="title">coviD3.js</span> by TwoFortyNine</h1>
	</div>
	<hr class="navbar-hr">
	<div class="navbar-bottom">
		<div class="navbar-nav">
			<ul>
				<li><a href="/">Dashboard</a></li>
				<li><a href="/sentiment">Sentiment Analysis</a></li>
				<li><a href="/transportation">Transportation</a></li>
				<li><a href="/numbers" class="active">Numbers</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="content">
	<h2 class="subheading">Latest Numbers</h2>
	<hr class="subheading-hr">
</div>

{% endblock %}